#login_error{
    display: none;
    background-color: rgba(203, 0, 0, 0.84);
    font-size: 14px;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

#messages{
    display: none;
    font-size: 14px;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.error{
    color: red;
}
